.header{
    background-image: url('../images/nobebackground.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #2e00f9; }
}


.description{
    position: relative;
    text-align: center;
    margin: auto;
    
}
.description h1{
    color:orange ;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: auto;
    animation: 
        typing 4.5s steps(31) forwards,
        blink .8s infinite;
    max-width: fit-content;

}
.des{
    color:rgb(0, 0, 0);
    position: relative;
    font-size: 20px;
    text-align: center;
    animation: fadeIn 4s;
    line-height: 2.5;
}

.header .but{
	border:1px  solid #f9006c;
	background:#f9006c;
	color:#fff;
    top: 0;
    right: 0;
}