.header{
    background-image: url('../images/tibackground.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.description{
    position: relative;
    text-align: center;
    margin: auto;
    
}
.head{
    color:#f90000 ;
    animation: fadeIn 1.5s;
}
.des{
    color:rgb(0, 0, 0);
    position: relative;
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
    animation: fadeIn ease 10s;
}
